/home/tungcutenhoem/Documents/DeepLearning/Mathetical_OCR/src/streamlit.py
/home/tungcutenhoem/Documents/DeepLearning/Mathetical_OCR/math_papers_pdf
/home/tungcutenhoem/Documents/DeepLearning/Mathetical_OCR/math_papers_tex
/home/tungcutenhoem/Documents/DeepLearning/Mathetical_OCR/nougat_scratch
/home/tungcutenhoem/Documents/DeepLearning/Mathetical_OCR/processed_dataset